.logo-principal {
    width: 130px;
}

.logo-alternativo {
    max-height: 35px;
    width: auto;
}

.logo-simple {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
}

footer {
    background-color: #2d414c;
    padding-bottom: 5px;
    padding-top: 5px;
}

.titulo {
    width: 110px;
    margin-left: 20px;
}

.Introduccion {
    text-align: center;
}

.navbar {
    background-color: #2d414c;
}

.btn-personalizado {
    background-color: #147414;
    border-radius: 10px;
}

.navbar-toggler {
    border-radius: 10px;
}

.navbar-toggler:hover {
    background-color: #ffffff;
}

a:hover {
    background-color: white;
}

.Bienvenidos {
    background-color: #147414;
    border-radius: 0 0 20px 20px;
}

.nombre,
.text-uppercase,
.derechos {
    color: #147414;
}